channels-nk/trunk/mod-data/modules/mod-data/tofilter/resources/schemas/def_address.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    element address {
      element street {text} &
      element city {text} &
      element state {text} 
  }
  -->
  <define name="address">
    <element name="address">
      <element name="street"><text/></element>
      <element name="city"><text/></element>
      <element name="state"><text/></element>
    </element>
  </define>
</grammar>