channels-nk/trunk/mod-data/modules/mod-data/tofilter/resources/schemas/def_identified.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    identified =
      element name {text} &
      element description {text}
  -->
  <define name="identified">
      <element name="name"><text/></element>
      <optional>
        <element name="description"><text/></element>        
      </optional>
  </define>
</grammar>