channels-nk/trunk/mod-data/modules/mod-data/tofilter/resources/schemas/def_sourceOrSink.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
<!--
  # Who or what can know or need to know
  sourceOrSink = {
    (
     element repositoryId {text} |
     element roleId {text} |
     element agentId {text}
    )
  }
-->
  <define name="sourceOrSink">
    <choice>
      <element name="agentId"><text/></element>
      <element name="repositoryId"><text/></element>
      <element name="roleId"><text/></element>
    </choice>
  </define>
</grammar>