channels-nk/trunk/mod-data/modules/mod-data/tofilter/resources/schemas/role.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
  include href="http://@host@:@port@/channels/schema/ext_attrs.rnc"
  include href="http://@host@:@port@/channels/schema/ext_attrs.rnc"
  
  start =
      element organizaion {
  	    {attrs},
  	    {elems} & 
        element expertise {text} &
        element organizationId {text} &
      }
  -->
  <include href="http://@host@:@port@/channels/schema/ext_attrs.rng"/>
  <include href="http://@host@:@port@/channels/schema/ext_elems.rng"/>
  <include href="http://@host@:@port@/channels/schema/ext_address.rng"/>
  
  <start>
    <element name="organization">
      <ref name="attrs"/>
      <interleave>
        <ref name="elems"/>
        <element name="organizationId"><text/></element>
        <element name="expertise"><text/></element>
      </interleave>
    </element>
  </start>
  
</grammar>